@font-face {font-family: 'SF Pro Display'; src: url("/fonts/sfprod2.woff2") format("woff2"), url("/fonts/sfprod.woff") format("woff")}


/* RESET */
* {margin: 0; padding: 0; font-size: 100%; border: none; outline: none; box-sizing: border-box; font-family: 'SF Pro Display', sans-serif;}
body {background: #fff;}
a {text-decoration: none; cursor: pointer; font-size: 14px; font-size: 0.875rem}
ul {list-style: none;}
img {max-width: 100%}

/* CABECALHO */
header {width: 100%; padding:5%;}
.btn-menu {width: 25px; height: 16px;cursor: pointer; background: url('../img/menu.svg') 0 0 no-repeat}

/* MENU */
.menu {display: none; width: 100%; height: 100%; position: fixed; background-color: #fff; top: 0; left: 0;}
.btn-close, .in, .ig {width: 19px; height: 19px; cursor: pointer; margin: 5%; background: url('../img/close.svg') 0 0 no-repeat;}
.menu ul {max-width: 100%; text-align: center;} 
.menu li {padding: 3%;}
.menu li a {font-size: 0.8rem; font-weight: 400; color: #000;}
hr{ background-color: #ccc; height: 1px; margin: 20% 0; opacity: 0.2;}
.social{ display: flex; flex-direction: row; justify-content: space-around;}
.in {width: 20px; height: 20px; cursor: pointer; margin: 0 auto; background: url('../img/linkedin.svg') 0 0 no-repeat;}
.ig {width: 20px; height: 20px; cursor: pointer; margin: 0 auto; background: url('../img/instagram.svg') 0 0 no-repeat;}

/* FOTOS */
.flex_box{ display:flex; flex-wrap: wrap; margin-bottom: 8% !important;}

/* Página sobre */

section p{text-align: justify; margin-bottom: 1.5rem; font-weight: 300;}

/* Página sobre */   

/* BREAKPOINTS */
@media(min-width: 20rem) {.content { width: 100%;}.flex_box_item{ flex-basis: 100%; margin-bottom: 4%} section{ padding: 0 5%;} footer ul, footer h3{padding: 0; margin: 0 auto 2.5% auto;}}
@media(min-width: 33.75rem) {.flex_box_item{ height: 360px !important; flex-basis: 100%; margin-bottom: 4%;} footer ul, footer h3{margin: 0 0 2.5% 0 !important;}}
@media(min-width: 48rem) {.flex_box_item{ height: 255px !important; flex-basis: 48%; margin:1%;} /* Footer */ .footer-bottom{width: 100%; position: absolute; bottom: 0;}} /* Footer */
@media(min-width: 64rem) {.content{ width: 82%; margin: 0 auto;} .flex_box_item{ height: 135px !important; flex-basis: 24%; margin: 0.5%} hr{ display: none;} /* Página Sobre */ .text-padding { padding: 0;} .articles{width: 50%; margin: 0;} /* Página Sobre */

header{ display: flex; justify-content: center; margin:0; padding: 4% 0;}
.btn-menu {display: none;}
.btn-close {display: none;}
.menu {display: inline-flex !important; position: static;}
.social {display: none;}
.menu li {padding: 0; display: inline;}
.menu li a {font-size: 0.8em; font-weight: 400; margin-right: 15px; font-size: 0.7rem; text-transform: capitalize}}

@media(min-width: 90rem) {.flex_box_item{ height: 190px !important;}}

@media(min-width: 160rem) {.content{width: 55%; margin: 0 auto;} .flex_box_item{ height: 212px !important;}}


/* FOOTER */
footer{flex-basis: 100%; padding:2.5% 0 0 0; display: flex; flex-direction:row; justify-content: space-between; flex-wrap: wrap;}
footer ul li{display: inline; margin-right: 15px; }
footer ul li:nth-child(3){margin-right: 0; }
footer ul li a, footer h3 {font-size: 0.8rem; font-weight: 400; color: #999; text-transform: capitalize}
